<div class="container my-5">
	<div class="mb-3">
		<label for="exampleFormControlInput1" class="form-label">Email address</label>
		<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter your email" name="email" [(ngModel)]="username">
	</div>
	<div class="mb-3">
		<label for="exampleFormControlInput1" class="form-label">Password</label>
		<input type="password" class="form-control" id="exampleFormControlInput1" placeholder="Enter your password" name="password" [(ngModel)]="password">
	</div>
	<button class="btn btn-primary" (click)="loginClicked()" [disabled]="isLoading">
		<span *ngIf="!isLoading">Login</span><i class="fas fa-sync fa-spin" *ngIf="isLoading"></i>
	</button>

	<div class="alert alert-danger mt-3" role="alert" *ngIf="errorMessage != ''">
		{{errorMessage}}
	</div>
</div>