<div class="container my-5">
	<div class="mb-3">
		<label for="exampleFormControlInput1" class="form-label">Your name</label>
		<input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter your name" name="text">
	</div>
	<select class="form-select mb-3" aria-label="Default select example">
		<option selected>Give a rating</option>
		<option value="5">5</option>
		<option value="4">4</option>
		<option value="3">3</option>
		<option value="2">2</option>
		<option value="1">1</option>
	</select>
	<div class="mb-3">
		<label for="exampleFormControlTextarea1" class="form-label">Enter your comment</label>
		<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
	</div>
	<button class="btn btn-primary" [routerLink]="['/main']">
		Add Review
	</button>
</div>